NET "*/prepare_i/clk_is_sys" TIG;
PIN "main_inst/inbuf_inst/prepare_i/mem_clk_mux.S0" TIG; 
PIN "main_inst/inbuf_inst/prepare_i/mem_clk_mux.S1" TIG; 

AREA_GROUP "main" RANGE=SLICE_X18Y0:SLICE_X75Y159, SLICE_X14Y140:SLICE_X17Y159, SLICE_X16Y0:SLICE_X17Y119, SLICE_X14Y100:SLICE_X15Y119, SLICE_X14Y0:SLICE_X15Y83;


INST "main_inst/*" AREA_GROUP = "main";
INST "Inst_processor/LEDs_8Bit" AREA_GROUP = "main";
INST "Inst_processor/LEDs_Positions" AREA_GROUP = "main";
INST "Inst_processor/clock_generator_0" AREA_GROUP = "main";
INST "Inst_processor/Hard_Ethernet_MAC" AREA_GROUP = "main";
INST "Inst_processor/jtagppc_cntlr_inst" AREA_GROUP = "main";
INST "Inst_processor/plb_v46_0" AREA_GROUP = "main";
INST "Inst_processor/ppc440_0" AREA_GROUP = "main";
INST "Inst_processor/proc2fpga_0" AREA_GROUP = "main";
INST "Inst_processor/proc_sys_reset_0" AREA_GROUP = "main";
INST "Inst_processor/RS232_Uart_1" AREA_GROUP = "main";
INST "Inst_processor/SysACE_CompactFlash" AREA_GROUP = "main";
INST "Inst_processor/xps_bram_if_cntlr_1" AREA_GROUP = "main";
INST "Inst_processor/xps_bram_if_cntlr_1_bram" AREA_GROUP = "main";
INST "Inst_processor/xps_intc_0" AREA_GROUP = "main";
INST "inst_proc_register/*" AREA_GROUP = "main";
INST "inst_proc_memory/*" AREA_GROUP = "main";

AREA_GROUP "ddr2_sdram" RANGE=SLICE_X12Y105:SLICE_X27Y159, SLICE_X12Y0:SLICE_X27Y54, SLICE_X0Y0:SLICE_X11Y159;
INST "Inst_processor/DDR2_SDRAM" AREA_GROUP = "ddr2_sdram";


INST "Inst_processor/DDR2_SDRAM/DDR2_SDRAM/u_ddr2_top/u_mem_if_top/u_phy_top/u_phy_io/gen_dm_inst.gen_dm[0].u_iob_dm/u_dm_ce" BEL = AFF;
INST "Inst_processor/DDR2_SDRAM/DDR2_SDRAM/u_ddr2_top/u_mem_if_top/u_phy_top/u_phy_io/gen_dm_inst.gen_dm[0].u_iob_dm/u_dm_ce" LOC = SLICE_X4Y61;
INST "Inst_processor/DDR2_SDRAM/DDR2_SDRAM/u_ddr2_top/u_mem_if_top/u_phy_top/u_phy_io/gen_dm_inst.gen_dm[1].u_iob_dm/u_dm_ce" BEL = BFF;
INST "Inst_processor/DDR2_SDRAM/DDR2_SDRAM/u_ddr2_top/u_mem_if_top/u_phy_top/u_phy_io/gen_dm_inst.gen_dm[1].u_iob_dm/u_dm_ce" LOC = SLICE_X4Y61;
INST "Inst_processor/DDR2_SDRAM/DDR2_SDRAM/u_ddr2_top/u_mem_if_top/u_phy_top/u_phy_io/gen_dm_inst.gen_dm[2].u_iob_dm/u_dm_ce" BEL = CFF;
INST "Inst_processor/DDR2_SDRAM/DDR2_SDRAM/u_ddr2_top/u_mem_if_top/u_phy_top/u_phy_io/gen_dm_inst.gen_dm[2].u_iob_dm/u_dm_ce" LOC = SLICE_X4Y61;
INST "Inst_processor/DDR2_SDRAM/DDR2_SDRAM/u_ddr2_top/u_mem_if_top/u_phy_top/u_phy_io/gen_dm_inst.gen_dm[3].u_iob_dm/u_dm_ce" BEL = DFF;
INST "Inst_processor/DDR2_SDRAM/DDR2_SDRAM/u_ddr2_top/u_mem_if_top/u_phy_top/u_phy_io/gen_dm_inst.gen_dm[3].u_iob_dm/u_dm_ce" LOC = SLICE_X4Y61;
INST "Inst_processor/DDR2_SDRAM/DDR2_SDRAM/u_ddr2_top/u_mem_if_top/u_phy_top/u_phy_io/gen_dm_inst.gen_dm[4].u_iob_dm/u_dm_ce" BEL = AFF;
INST "Inst_processor/DDR2_SDRAM/DDR2_SDRAM/u_ddr2_top/u_mem_if_top/u_phy_top/u_phy_io/gen_dm_inst.gen_dm[4].u_iob_dm/u_dm_ce" LOC = SLICE_X4Y63;
INST "Inst_processor/DDR2_SDRAM/DDR2_SDRAM/u_ddr2_top/u_mem_if_top/u_phy_top/u_phy_io/gen_dm_inst.gen_dm[5].u_iob_dm/u_dm_ce" BEL = DFF;
INST "Inst_processor/DDR2_SDRAM/DDR2_SDRAM/u_ddr2_top/u_mem_if_top/u_phy_top/u_phy_io/gen_dm_inst.gen_dm[5].u_iob_dm/u_dm_ce" LOC = SLICE_X4Y109;
INST "Inst_processor/DDR2_SDRAM/DDR2_SDRAM/u_ddr2_top/u_mem_if_top/u_phy_top/u_phy_io/gen_dm_inst.gen_dm[6].u_iob_dm/u_dm_ce" BEL = CFF;
INST "Inst_processor/DDR2_SDRAM/DDR2_SDRAM/u_ddr2_top/u_mem_if_top/u_phy_top/u_phy_io/gen_dm_inst.gen_dm[6].u_iob_dm/u_dm_ce" LOC = SLICE_X4Y109;
INST "Inst_processor/DDR2_SDRAM/DDR2_SDRAM/u_ddr2_top/u_mem_if_top/u_phy_top/u_phy_io/gen_dm_inst.gen_dm[7].u_iob_dm/u_dm_ce" BEL = BFF;
INST "Inst_processor/DDR2_SDRAM/DDR2_SDRAM/u_ddr2_top/u_mem_if_top/u_phy_top/u_phy_io/gen_dm_inst.gen_dm[7].u_iob_dm/u_dm_ce" LOC = SLICE_X4Y109;

INST "Inst_processor/DDR2_SDRAM/DDR2_SDRAM/u_ddr2_top/u_mem_if_top/u_phy_top/u_phy_io/u_phy_calib/cal2_rd_data_sel_r_5" AREA_GROUP = "cal_rd_data";
INST "Inst_processor/DDR2_SDRAM/DDR2_SDRAM/u_ddr2_top/u_mem_if_top/u_phy_top/u_phy_io/u_phy_calib/cal2_rd_data_sel_r_1" AREA_GROUP = "cal_rd_data";
INST "Inst_processor/DDR2_SDRAM/DDR2_SDRAM/u_ddr2_top/u_mem_if_top/u_phy_top/u_phy_io/u_phy_calib/cal2_rd_data_sel_r_4" AREA_GROUP = "cal_rd_data";
INST "Inst_processor/DDR2_SDRAM/DDR2_SDRAM/u_ddr2_top/u_mem_if_top/u_phy_top/u_phy_io/u_phy_calib/cal2_rd_data_sel_r_0" AREA_GROUP = "cal_rd_data";
INST "Inst_processor/DDR2_SDRAM/DDR2_SDRAM/u_ddr2_top/u_mem_if_top/u_phy_top/u_phy_io/u_phy_calib/cal2_rd_data_sel_r_2" AREA_GROUP = "cal_rd_data";
INST "Inst_processor/DDR2_SDRAM/DDR2_SDRAM/u_ddr2_top/u_mem_if_top/u_phy_top/u_phy_io/u_phy_calib/cal2_rd_data_sel_r_6" AREA_GROUP = "cal_rd_data";
INST "Inst_processor/DDR2_SDRAM/DDR2_SDRAM/u_ddr2_top/u_mem_if_top/u_phy_top/u_phy_io/u_phy_calib/cal2_rd_data_sel_r_3" AREA_GROUP = "cal_rd_data";
INST "Inst_processor/DDR2_SDRAM/DDR2_SDRAM/u_ddr2_top/u_mem_if_top/u_phy_top/u_phy_io/u_phy_calib/cal2_rd_data_sel_r_7" AREA_GROUP = "cal_rd_data";
AREA_GROUP "cal_rd_data" RANGE=SLICE_X0Y70:SLICE_X7Y99;
