# #####
# 
# INST "main_inst/outbuf_inst/transmitter_i/mux32_3" BEL = C6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux32_3" LOC = SLICE_X0Y89;
# INST "main_inst/outbuf_inst/transmitter_i/mux32_4" BEL = D6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux32_4" LOC = SLICE_X0Y89;
# INST "main_inst/outbuf_inst/transmitter_i/mux32_2_f7" LOC = SLICE_X0Y89;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short_2" BEL = AFF;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short_2" LOC = SLICE_X1Y89;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short_3" BEL = CFF;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short_3" LOC = SLICE_X1Y89;
# INST "main_inst/outbuf_inst/transmitter_i/mux34_3" BEL = A6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux34_3" LOC = SLICE_X1Y89;
# INST "main_inst/outbuf_inst/transmitter_i/mux34_4" BEL = B6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux34_4" LOC = SLICE_X1Y89;
# INST "main_inst/outbuf_inst/transmitter_i/mux34_2_f7" LOC = SLICE_X1Y89;
# 
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short0_0" BEL = AFF;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short0_0" LOC = SLICE_X1Y88;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short0_1" BEL = CFF;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short0_1" LOC = SLICE_X1Y88;
# INST "main_inst/outbuf_inst/transmitter_i/mux_3" BEL = A6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux_3" LOC = SLICE_X1Y88;
# INST "main_inst/outbuf_inst/transmitter_i/mux_4" BEL = B6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux_4" LOC = SLICE_X1Y88;
# INST "main_inst/outbuf_inst/transmitter_i/mux_2_f7" LOC = SLICE_X1Y88;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short0_2" BEL = AFF;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short0_2" LOC = SLICE_X0Y88;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short0_3" BEL = CFF;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short0_3" LOC = SLICE_X0Y88;
# INST "main_inst/outbuf_inst/transmitter_i/mux2_3" BEL = A6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux2_3" LOC = SLICE_X0Y88;
# INST "main_inst/outbuf_inst/transmitter_i/mux2_4" BEL = B6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux2_4" LOC = SLICE_X0Y88;
# INST "main_inst/outbuf_inst/transmitter_i/mux2_2_f7" LOC = SLICE_X0Y88;
# 
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short1_0" BEL = AFF;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short1_0" LOC = SLICE_X1Y84;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short1_1" BEL = CFF;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short1_1" LOC = SLICE_X1Y84;
# INST "main_inst/outbuf_inst/transmitter_i/mux4_3" BEL = A6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux4_3" LOC = SLICE_X1Y84;
# INST "main_inst/outbuf_inst/transmitter_i/mux4_4" BEL = B6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux4_4" LOC = SLICE_X1Y84;
# INST "main_inst/outbuf_inst/transmitter_i/mux4_2_f7" LOC = SLICE_X1Y84;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short1_2" BEL = AFF;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short1_2" LOC = SLICE_X0Y84;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short1_3" BEL = CFF;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short1_3" LOC = SLICE_X0Y84;
# INST "main_inst/outbuf_inst/transmitter_i/mux6_3" BEL = A6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux6_3" LOC = SLICE_X0Y84;
# INST "main_inst/outbuf_inst/transmitter_i/mux6_4" BEL = B6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux6_4" LOC = SLICE_X0Y84;
# INST "main_inst/outbuf_inst/transmitter_i/mux6_2_f7" LOC = SLICE_X0Y84;
# 
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short7_0" BEL = AFF;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short7_0" LOC = SLICE_X1Y83;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short7_1" BEL = CFF;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short7_1" LOC = SLICE_X1Y83;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short7_2" BEL = AFF;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short7_2" LOC = SLICE_X0Y83;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short7_3" BEL = CFF;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short7_3" LOC = SLICE_X0Y83;
# 
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short2_0" BEL = CFF;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short2_0" LOC = SLICE_X0Y82;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short2_1" BEL = AFF;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short2_1" LOC = SLICE_X0Y82;
# INST "main_inst/outbuf_inst/transmitter_i/mux8_3" BEL = C6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux8_3" LOC = SLICE_X0Y82;
# INST "main_inst/outbuf_inst/transmitter_i/mux8_4" BEL = D6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux8_4" LOC = SLICE_X0Y82;
# INST "main_inst/outbuf_inst/transmitter_i/mux8_2_f7" LOC = SLICE_X0Y82;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short2_2" BEL = CFF;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short2_2" LOC = SLICE_X1Y82;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short2_3" BEL = AFF;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short2_3" LOC = SLICE_X1Y82;
# INST "main_inst/outbuf_inst/transmitter_i/mux10_3" BEL = C6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux10_3" LOC = SLICE_X1Y82;
# INST "main_inst/outbuf_inst/transmitter_i/mux10_4" BEL = D6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux10_4" LOC = SLICE_X1Y82;
# INST "main_inst/outbuf_inst/transmitter_i/mux10_2_f7" LOC = SLICE_X1Y82;
# 
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short3_0" BEL = CFF;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short3_0" LOC = SLICE_X0Y81;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short3_1" BEL = AFF;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short3_1" LOC = SLICE_X0Y81;
# INST "main_inst/outbuf_inst/transmitter_i/mux12_3" BEL = C6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux12_3" LOC = SLICE_X0Y81;
# INST "main_inst/outbuf_inst/transmitter_i/mux12_4" BEL = D6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux12_4" LOC = SLICE_X0Y81;
# INST "main_inst/outbuf_inst/transmitter_i/mux12_2_f7" LOC = SLICE_X0Y81;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short3_2" BEL = CFF;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short3_2" LOC = SLICE_X1Y81;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short3_3" BEL = AFF;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short3_3" LOC = SLICE_X1Y81;
# INST "main_inst/outbuf_inst/transmitter_i/mux14_3" BEL = C6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux14_3" LOC = SLICE_X1Y81;
# INST "main_inst/outbuf_inst/transmitter_i/mux14_4" BEL = D6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux14_4" LOC = SLICE_X1Y81;
# INST "main_inst/outbuf_inst/transmitter_i/mux14_2_f7" LOC = SLICE_X1Y81;
# 
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short4_0" BEL = CFF;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short4_0" LOC = SLICE_X0Y80;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short4_1" BEL = AFF;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short4_1" LOC = SLICE_X0Y80;
# INST "main_inst/outbuf_inst/transmitter_i/mux16_3" BEL = C6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux16_3" LOC = SLICE_X0Y80;
# INST "main_inst/outbuf_inst/transmitter_i/mux16_4" BEL = D6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux16_4" LOC = SLICE_X0Y80;
# INST "main_inst/outbuf_inst/transmitter_i/mux16_2_f7" LOC = SLICE_X0Y80;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short4_2" BEL = CFF;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short4_2" LOC = SLICE_X1Y80;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short4_3" BEL = AFF;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short4_3" LOC = SLICE_X1Y80;
# INST "main_inst/outbuf_inst/transmitter_i/mux18_3" BEL = C6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux18_3" LOC = SLICE_X1Y80;
# INST "main_inst/outbuf_inst/transmitter_i/mux18_4" BEL = D6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux18_4" LOC = SLICE_X1Y80;
# INST "main_inst/outbuf_inst/transmitter_i/mux18_2_f7" LOC = SLICE_X1Y80;
# 
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short5_0" BEL = CFF;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short5_0" LOC = SLICE_X0Y79;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short5_1" BEL = AFF;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short5_1" LOC = SLICE_X0Y79;
# INST "main_inst/outbuf_inst/transmitter_i/mux20_3" BEL = C6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux20_3" LOC = SLICE_X0Y79;
# INST "main_inst/outbuf_inst/transmitter_i/mux20_4" BEL = D6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux20_4" LOC = SLICE_X0Y79;
# INST "main_inst/outbuf_inst/transmitter_i/mux20_2_f7" LOC = SLICE_X0Y79;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short5_2" BEL = CFF;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short5_2" LOC = SLICE_X1Y79;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short5_3" BEL = AFF;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short5_3" LOC = SLICE_X1Y79;
# INST "main_inst/outbuf_inst/transmitter_i/mux22_3" BEL = C6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux22_3" LOC = SLICE_X1Y79;
# INST "main_inst/outbuf_inst/transmitter_i/mux22_4" BEL = D6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux22_4" LOC = SLICE_X1Y79;
# INST "main_inst/outbuf_inst/transmitter_i/mux22_2_f7" LOC = SLICE_X1Y79;
# 
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short6_0" BEL = CFF;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short6_0" LOC = SLICE_X0Y78;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short6_1" BEL = AFF;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short6_1" LOC = SLICE_X0Y78;
# INST "main_inst/outbuf_inst/transmitter_i/mux24_3" BEL = C6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux24_3" LOC = SLICE_X0Y78;
# INST "main_inst/outbuf_inst/transmitter_i/mux24_4" BEL = D6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux24_4" LOC = SLICE_X0Y78;
# INST "main_inst/outbuf_inst/transmitter_i/mux24_2_f7" LOC = SLICE_X0Y78;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short6_2" BEL = CFF;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short6_2" LOC = SLICE_X1Y78;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short6_3" BEL = AFF;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short6_3" LOC = SLICE_X1Y78;
# INST "main_inst/outbuf_inst/transmitter_i/mux26_3" BEL = C6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux26_3" LOC = SLICE_X1Y78;
# INST "main_inst/outbuf_inst/transmitter_i/mux26_4" BEL = D6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux26_4" LOC = SLICE_X1Y78;
# INST "main_inst/outbuf_inst/transmitter_i/mux26_2_f7" LOC = SLICE_X1Y78;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short_0" BEL = CFF;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short_0" LOC = SLICE_X0Y89;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short_1" BEL = AFF;
# INST "main_inst/outbuf_inst/transmitter_i/outdata_short_1" LOC = SLICE_X0Y89;
# INST "main_inst/outbuf_inst/transmitter_i/mux33_2_f7" BEL = F7AMUX;
# INST "main_inst/outbuf_inst/transmitter_i/mux33_2_f7" LOC = SLICE_X0Y89;
# INST "main_inst/outbuf_inst/transmitter_i/mux33_4" BEL = B6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux33_4" LOC = SLICE_X0Y89;
# INST "main_inst/outbuf_inst/transmitter_i/mux33_3" LOC = SLICE_X0Y89;
# INST "main_inst/outbuf_inst/transmitter_i/mux35_2_f7" BEL = F7BMUX;
# INST "main_inst/outbuf_inst/transmitter_i/mux35_2_f7" LOC = SLICE_X1Y89;
# INST "main_inst/outbuf_inst/transmitter_i/mux35_4" BEL = D6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux35_4" LOC = SLICE_X1Y89;
# INST "main_inst/outbuf_inst/transmitter_i/mux35_3" LOC = SLICE_X1Y89;
# INST "main_inst/outbuf_inst/transmitter_i/mux3_2_f7" BEL = F7BMUX;
# INST "main_inst/outbuf_inst/transmitter_i/mux3_2_f7" LOC = SLICE_X0Y88;
# INST "main_inst/outbuf_inst/transmitter_i/mux3_4" BEL = D6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux3_4" LOC = SLICE_X0Y88;
# INST "main_inst/outbuf_inst/transmitter_i/mux3_3" LOC = SLICE_X0Y88;
# INST "main_inst/outbuf_inst/transmitter_i/mux1_3" BEL = C6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux1_3" LOC = SLICE_X1Y88;
# INST "main_inst/outbuf_inst/transmitter_i/mux1_2_f7" BEL = F7BMUX;
# INST "main_inst/outbuf_inst/transmitter_i/mux1_2_f7" LOC = SLICE_X1Y88;
# INST "main_inst/outbuf_inst/transmitter_i/mux1_4" LOC = SLICE_X1Y88;
# INST "main_inst/outbuf_inst/transmitter_i/mux7_2_f7" BEL = F7BMUX;
# INST "main_inst/outbuf_inst/transmitter_i/mux7_2_f7" LOC = SLICE_X0Y84;
# INST "main_inst/outbuf_inst/transmitter_i/mux7_4" BEL = D6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux7_4" LOC = SLICE_X0Y84;
# INST "main_inst/outbuf_inst/transmitter_i/mux7_3" LOC = SLICE_X0Y84;
# INST "main_inst/outbuf_inst/transmitter_i/mux5_2_f7" BEL = F7BMUX;
# INST "main_inst/outbuf_inst/transmitter_i/mux5_2_f7" LOC = SLICE_X1Y84;
# INST "main_inst/outbuf_inst/transmitter_i/mux5_4" BEL = D6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux5_4" LOC = SLICE_X1Y84;
# INST "main_inst/outbuf_inst/transmitter_i/mux5_3" LOC = SLICE_X1Y84;
# INST "main_inst/outbuf_inst/transmitter_i/mux316" BEL = F7BMUX;
# INST "main_inst/outbuf_inst/transmitter_i/mux316" LOC = SLICE_X0Y83;
# INST "main_inst/outbuf_inst/transmitter_i/mux316_F" BEL = D6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux316_F" LOC = SLICE_X0Y83;
# INST "main_inst/outbuf_inst/transmitter_i/mux316_G" LOC = SLICE_X0Y83;
# INST "main_inst/outbuf_inst/transmitter_i/mux306" BEL = F7AMUX;
# INST "main_inst/outbuf_inst/transmitter_i/mux306" LOC = SLICE_X0Y83;
# INST "main_inst/outbuf_inst/transmitter_i/mux306_F" BEL = B6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux306_F" LOC = SLICE_X0Y83;
# INST "main_inst/outbuf_inst/transmitter_i/mux306_G" LOC = SLICE_X0Y83;
# INST "main_inst/outbuf_inst/transmitter_i/mux296" BEL = F7BMUX;
# INST "main_inst/outbuf_inst/transmitter_i/mux296" LOC = SLICE_X1Y83;
# INST "main_inst/outbuf_inst/transmitter_i/mux296_F" BEL = D6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux296_F" LOC = SLICE_X1Y83;
# INST "main_inst/outbuf_inst/transmitter_i/mux296_G" LOC = SLICE_X1Y83;
# INST "main_inst/outbuf_inst/transmitter_i/mux286" BEL = F7AMUX;
# INST "main_inst/outbuf_inst/transmitter_i/mux286" LOC = SLICE_X1Y83;
# INST "main_inst/outbuf_inst/transmitter_i/mux286_F" BEL = B6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux286_F" LOC = SLICE_X1Y83;
# INST "main_inst/outbuf_inst/transmitter_i/mux286_G" LOC = SLICE_X1Y83;
# INST "main_inst/outbuf_inst/transmitter_i/mux9_2_f7" BEL = F7AMUX;
# INST "main_inst/outbuf_inst/transmitter_i/mux9_2_f7" LOC = SLICE_X0Y82;
# INST "main_inst/outbuf_inst/transmitter_i/mux9_4" BEL = B6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux9_4" LOC = SLICE_X0Y82;
# INST "main_inst/outbuf_inst/transmitter_i/mux9_3" LOC = SLICE_X0Y82;
# INST "main_inst/outbuf_inst/transmitter_i/mux11_2_f7" BEL = F7AMUX;
# INST "main_inst/outbuf_inst/transmitter_i/mux11_2_f7" LOC = SLICE_X1Y82;
# INST "main_inst/outbuf_inst/transmitter_i/mux11_4" BEL = B6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux11_4" LOC = SLICE_X1Y82;
# INST "main_inst/outbuf_inst/transmitter_i/mux11_3" LOC = SLICE_X1Y82;
# INST "main_inst/outbuf_inst/transmitter_i/mux13_2_f7" BEL = F7AMUX;
# INST "main_inst/outbuf_inst/transmitter_i/mux13_2_f7" LOC = SLICE_X0Y81;
# INST "main_inst/outbuf_inst/transmitter_i/mux13_4" BEL = B6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux13_4" LOC = SLICE_X0Y81;
# INST "main_inst/outbuf_inst/transmitter_i/mux13_3" LOC = SLICE_X0Y81;
# INST "main_inst/outbuf_inst/transmitter_i/mux15_2_f7" BEL = F7AMUX;
# INST "main_inst/outbuf_inst/transmitter_i/mux15_2_f7" LOC = SLICE_X1Y81;
# INST "main_inst/outbuf_inst/transmitter_i/mux15_4" BEL = B6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux15_4" LOC = SLICE_X1Y81;
# INST "main_inst/outbuf_inst/transmitter_i/mux15_3" LOC = SLICE_X1Y81;
# INST "main_inst/outbuf_inst/transmitter_i/mux17_2_f7" BEL = F7AMUX;
# INST "main_inst/outbuf_inst/transmitter_i/mux17_2_f7" LOC = SLICE_X0Y80;
# INST "main_inst/outbuf_inst/transmitter_i/mux17_4" BEL = B6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux17_4" LOC = SLICE_X0Y80;
# INST "main_inst/outbuf_inst/transmitter_i/mux17_3" LOC = SLICE_X0Y80;
# INST "main_inst/outbuf_inst/transmitter_i/mux19_2_f7" BEL = F7AMUX;
# INST "main_inst/outbuf_inst/transmitter_i/mux19_2_f7" LOC = SLICE_X1Y80;
# INST "main_inst/outbuf_inst/transmitter_i/mux19_4" BEL = B6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux19_4" LOC = SLICE_X1Y80;
# INST "main_inst/outbuf_inst/transmitter_i/mux19_3" LOC = SLICE_X1Y80;
# INST "main_inst/outbuf_inst/transmitter_i/mux21_2_f7" BEL = F7AMUX;
# INST "main_inst/outbuf_inst/transmitter_i/mux21_2_f7" LOC = SLICE_X0Y79;
# INST "main_inst/outbuf_inst/transmitter_i/mux21_4" BEL = B6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux21_4" LOC = SLICE_X0Y79;
# INST "main_inst/outbuf_inst/transmitter_i/mux21_3" LOC = SLICE_X0Y79;
# INST "main_inst/outbuf_inst/transmitter_i/mux23_2_f7" BEL = F7AMUX;
# INST "main_inst/outbuf_inst/transmitter_i/mux23_2_f7" LOC = SLICE_X1Y79;
# INST "main_inst/outbuf_inst/transmitter_i/mux23_4" BEL = B6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux23_4" LOC = SLICE_X1Y79;
# INST "main_inst/outbuf_inst/transmitter_i/mux23_3" LOC = SLICE_X1Y79;
# INST "main_inst/outbuf_inst/transmitter_i/mux25_2_f7" BEL = F7AMUX;
# INST "main_inst/outbuf_inst/transmitter_i/mux25_2_f7" LOC = SLICE_X0Y78;
# INST "main_inst/outbuf_inst/transmitter_i/mux25_4" BEL = B6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux25_4" LOC = SLICE_X0Y78;
# INST "main_inst/outbuf_inst/transmitter_i/mux25_3" LOC = SLICE_X0Y78;
# INST "main_inst/outbuf_inst/transmitter_i/mux27_2_f7" BEL = F7AMUX;
# INST "main_inst/outbuf_inst/transmitter_i/mux27_2_f7" LOC = SLICE_X1Y78;
# INST "main_inst/outbuf_inst/transmitter_i/mux27_4" BEL = B6LUT;
# INST "main_inst/outbuf_inst/transmitter_i/mux27_4" LOC = SLICE_X1Y78;
# INST "main_inst/outbuf_inst/transmitter_i/mux27_3" LOC = SLICE_X1Y78;
# 
# 
# #####
# #
# AREA_GROUP "inbuf" RANGE=SLICE_X54Y70:SLICE_X67Y89, SLICE_X68Y60:SLICE_X75Y119;
# AREA_GROUP "inbuf" RANGE=DSP48_X1Y28:DSP48_X1Y35;
# AREA_GROUP "inbuf" RANGE=RAMB36_X3Y24:RAMB36_X4Y25, RAMB36_X3Y22:RAMB36_X5Y23, RAMB36_X3Y20:RAMB36_X4Y21, RAMB36_X3Y18:RAMB36_X5Y19, RAMB36_X3Y6:RAMB36_X4Y17;
# INST "main_inst/inbuf_inst/*/" AREA_GROUP = "inbuf";
# INST "main_inst/inbuf_inst/average_mem_i/*" AREA_GROUP = "inbuf";
# INST "main_inst/inbuf_inst/trigger_i/*" AREA_GROUP = "inbuf";
# INST "main_inst/inbuf_inst/wallclk_i/*" AREA_GROUP = "inbuf";
# 
# #####
# 
# AREA_GROUP "outbuf_mem_1" RANGE=RAMB36_X0Y12:RAMB36_X0Y15, RAMB36_X0Y10:RAMB36_X2Y11, RAMB36_X0Y6:RAMB36_X2Y9, RAMB36_X0Y0:RAMB36_X4Y5;
# INST "*/outbuf_mem_1/*" AREA_GROUP = "outbuf_mem_1";
# AREA_GROUP "outbuf_mem_0" RANGE=RAMB36_X0Y26:RAMB36_X4Y31, RAMB36_X0Y24:RAMB36_X2Y25, RAMB36_X0Y20:RAMB36_X2Y23, RAMB36_X0Y16:RAMB36_X0Y19;
# INST "*/outbuf_mem_0/*" AREA_GROUP = "outbuf_mem_0";
# 
# AREA_GROUP "outbuf" RANGE=SLICE_X2Y70:SLICE_X45Y99, SLICE_X50Y80:SLICE_X53Y89;
# AREA_GROUP "outbuf" RANGE=DSP48_X0Y32:DSP48_X0Y35;
# INST "main_inst/outbuf_inst/cmul_i/*" AREA_GROUP = "outbuf";
# INST "main_inst/outbuf_inst/*do_toggle*" AREA_GROUP = "outbuf";
# INST "main_inst/outbuf_inst/*frame_*" AREA_GROUP = "outbuf";
# INST "main_inst/outbuf_inst/*depth_r*" AREA_GROUP = "outbuf";
# INST "main_inst/outbuf_inst/*toggled*" AREA_GROUP = "outbuf";
# INST "main_inst/outbuf_inst/active*" AREA_GROUP = "outbuf";
# INST "main_inst/outbuf_inst/cmul_i/*" AREA_GROUP = "outbuf";
# INST "main_inst/outbuf_inst/do_*" AREA_GROUP = "outbuf";
# INST "main_inst/outbuf_inst/dout_*" AREA_GROUP = "outbuf";
# INST "main_inst/outbuf_inst/mem_*" AREA_GROUP = "outbuf";
# 
# AREA_GROUP "outdata_long" RANGE=SLICE_X2Y90:SLICE_X7Y91, SLICE_X4Y88:SLICE_X7Y89, SLICE_X2Y85:SLICE_X7Y87, SLICE_X4Y78:SLICE_X7Y84, SLICE_X2Y76:SLICE_X7Y77;
# INST "*/transmitter_i/outdata_long*" AREA_GROUP = "outdata_long";
# INST "*/transmitter_i/outdata_final*" AREA_GROUP = "outdata_long";
# AREA_GROUP "transmitter" RANGE=SLICE_X2Y70:SLICE_X15Y99;
# INST "main_inst/outbuf_inst/transmitter_i/*buf_cycle*" AREA_GROUP = "transmitter";
# INST "main_inst/outbuf_inst/transmitter_i/*deskew*" AREA_GROUP = "transmitter";
# INST "main_inst/outbuf_inst/transmitter_i/buf_cycle*" AREA_GROUP = "transmitter";
# INST "main_inst/outbuf_inst/transmitter_i/ckf_dly" AREA_GROUP = "transmitter";
# INST "main_inst/outbuf_inst/transmitter_i/clk_generate*" AREA_GROUP = "transmitter";
# INST "main_inst/outbuf_inst/transmitter_i/deskew*" AREA_GROUP = "transmitter";
# INST "main_inst/outbuf_inst/transmitter_i/en_balance*" AREA_GROUP = "transmitter";
# INST "main_inst/outbuf_inst/transmitter_i/frame_scan*" AREA_GROUP = "transmitter";
# INST "main_inst/outbuf_inst/transmitter_i/in_start*" AREA_GROUP = "transmitter";
# INST "main_inst/outbuf_inst/transmitter_i/locked_i*" AREA_GROUP = "transmitter";
# INST "main_inst/outbuf_inst/transmitter_i/*out_en*" AREA_GROUP = "transmitter";
# INST "main_inst/outbuf_inst/transmitter_i/out_*" AREA_GROUP = "transmitter";
# INST "main_inst/outbuf_inst/transmitter_i/outputs_generate*" AREA_GROUP = "transmitter";
# INST "main_inst/outbuf_inst/transmitter_i/rst*" AREA_GROUP = "transmitter";
# 
# 
# #####
# AREA_GROUP "proc_interface" RANGE=SLICE_X12Y100:SLICE_X45Y104, SLICE_X40Y60:SLICE_X45Y99, SLICE_X12Y60:SLICE_X15Y69, SLICE_X12Y55:SLICE_X45Y59;
# INST "inst_proc_register/*" AREA_GROUP = "proc_interface";
# INST "Inst_processor/proc2fpga_0/*" AREA_GROUP = "proc_interface";
# AREA_GROUP "core" RANGE=SLICE_X40Y105:SLICE_X67Y129, SLICE_X46Y90:SLICE_X67Y104, SLICE_X46Y80:SLICE_X49Y89, SLICE_X46Y70:SLICE_X53Y79, SLICE_X46Y55:SLICE_X67Y69, SLICE_X40Y30:SLICE_X67Y54, SLICE_X14Y0:SLICE_X25Y159;
# AREA_GROUP "core" RANGE=DSP48_X0Y36:DSP48_X1Y51, DSP48_X0Y28:DSP48_X0Y31, DSP48_X0Y12:DSP48_X1Y27;
# AREA_GROUP "core" RANGE=RAMB36_X3Y18:RAMB36_X4Y23, RAMB36_X3Y14:RAMB36_X3Y17, RAMB36_X3Y6:RAMB36_X4Y13;
# INST "*/core_inst/*" AREA_GROUP = "core";
# 
# AREA_GROUP "rec_1" RANGE=SLICE_X68Y70:SLICE_X75Y79;
# INST "main_inst/inbuf_inst/receiver_i/syncs[1].*/*" AREA_GROUP = "rec_1";
# INST "main_inst/inbuf_inst/receiver_i/resetdone_r2_1" AREA_GROUP = "rec_1";
# INST "main_inst/inbuf_inst/receiver_i/resetdone_r_1" AREA_GROUP = "rec_1";
# INST "main_inst/inbuf_inst/receiver_i/datavalidaligned_r_1" AREA_GROUP = "rec_1";
# AREA_GROUP "rec_0" RANGE=SLICE_X68Y60:SLICE_X75Y69;
# INST "main_inst/inbuf_inst/receiver_i/syncs[0].*/*" AREA_GROUP = "rec_0";
# INST "main_inst/inbuf_inst/receiver_i/resetdone_r_0" AREA_GROUP = "rec_0";
# INST "main_inst/inbuf_inst/receiver_i/datavalidaligned_r_0" AREA_GROUP = "rec_0";
# INST "main_inst/inbuf_inst/receiver_i/resetdone_r2_0" AREA_GROUP = "rec_0";


INST "main_inst/mem_clk_mux" LOC = "BUFGCTRL_X0Y1" ;
INST "main_inst/inbuf_inst/receiver_i/syncs[1].rxclk_bufg_i" LOC = "BUFGCTRL_X0Y2" ;
INST "main_inst/inbuf_inst/receiver_i/syncs[0].rxclk_bufg_i" LOC = "BUFGCTRL_X0Y3" ;
INST "main_inst/inbuf_inst/async_mux_inst0" LOC = "BUFGCTRL_X0Y4" ;
INST "main_inst/inbuf_inst/receiver_i/refclkout_bufg0_i" LOC = "BUFGCTRL_X0Y7" ;
INST "main_inst/inbuf_inst/mem_clk_mux" LOC = "BUFGCTRL_X0Y9" ;
# INST "main_inst/outbuf_inst/transmitter_i/CLKOUT0_BUFG_INST" LOC = "BUFGCTRL_X0Y24" ;
# INST "main_inst/outbuf_inst/transmitter_i/CLKOUT1_BUFG_INST" LOC = "BUFGCTRL_X0Y25" ;
# INST "main_inst/outbuf_inst/transmitter_i/CLKOUT2_BUFG_INST" LOC = "BUFGCTRL_X0Y26" ;
