#####

INST "*/transmitter_i/outdata_short_0" LOC = SLICE_X2Y89;
INST "*/transmitter_i/outdata_short_1" LOC = SLICE_X2Y89;
INST "*/transmitter_i/mux32_*" LOC = SLICE_X2Y89;
INST "*/transmitter_i/mux33_*" LOC = SLICE_X2Y89;
INST "*/transmitter_i/outdata_short_2" LOC = SLICE_X3Y89;
INST "*/transmitter_i/outdata_short_3" LOC = SLICE_X3Y89;
INST "*/transmitter_i/mux34_*" LOC = SLICE_X3Y89;
INST "*/transmitter_i/mux35_*" LOC = SLICE_X3Y89;

INST "*/transmitter_i/outdata_short0_0" LOC = SLICE_X2Y88;
INST "*/transmitter_i/outdata_short0_1" LOC = SLICE_X2Y88;
INST "*/transmitter_i/mux_*" LOC = SLICE_X2Y88;
INST "*/transmitter_i/mux1_*" LOC = SLICE_X2Y88;
INST "*/transmitter_i/outdata_short0_2" LOC = SLICE_X3Y88;
INST "*/transmitter_i/outdata_short0_3" LOC = SLICE_X3Y88;
INST "*/transmitter_i/mux2_*" LOC = SLICE_X3Y88;
INST "*/transmitter_i/mux3_*" LOC = SLICE_X3Y88;

INST "*/transmitter_i/outdata_short1_0" LOC = SLICE_X2Y84;
INST "*/transmitter_i/outdata_short1_1" LOC = SLICE_X2Y84;
INST "*/transmitter_i/mux4_*" LOC = SLICE_X2Y84;
INST "*/transmitter_i/mux5_*" LOC = SLICE_X2Y84;
INST "*/transmitter_i/outdata_short1_2" LOC = SLICE_X3Y84;
INST "*/transmitter_i/outdata_short1_3" LOC = SLICE_X3Y84;
INST "*/transmitter_i/mux6_*" LOC = SLICE_X3Y84;
INST "*/transmitter_i/mux7_*" LOC = SLICE_X3Y84;

INST "*/transmitter_i/outdata_short7_0" LOC = SLICE_X2Y83;
INST "*/transmitter_i/outdata_short7_1" LOC = SLICE_X2Y83;
INST "*/transmitter_i/mux28_*" LOC = SLICE_X2Y83;
INST "*/transmitter_i/mux29_*" LOC = SLICE_X2Y83;
INST "*/transmitter_i/outdata_short7_2" LOC = SLICE_X3Y83;
INST "*/transmitter_i/outdata_short7_3" LOC = SLICE_X3Y83;
INST "*/transmitter_i/mux30_*" LOC = SLICE_X3Y83;
INST "*/transmitter_i/mux31_*" LOC = SLICE_X3Y83;

INST "*/transmitter_i/outdata_short2_0" LOC = SLICE_X2Y82;
INST "*/transmitter_i/outdata_short2_1" LOC = SLICE_X2Y82;
INST "*/transmitter_i/mux8_*" LOC = SLICE_X2Y82;
INST "*/transmitter_i/mux9_*" LOC = SLICE_X2Y82;
INST "*/transmitter_i/outdata_short2_2" LOC = SLICE_X3Y82;
INST "*/transmitter_i/outdata_short2_3" LOC = SLICE_X3Y82;
INST "*/transmitter_i/mux10_*" LOC = SLICE_X3Y82;
INST "*/transmitter_i/mux11_*" LOC = SLICE_X3Y82;

INST "*/transmitter_i/outdata_short3_0" LOC = SLICE_X2Y81;
INST "*/transmitter_i/outdata_short3_1" LOC = SLICE_X2Y81;
INST "*/transmitter_i/mux12_*" LOC = SLICE_X2Y81;
INST "*/transmitter_i/mux13_*" LOC = SLICE_X2Y81;
INST "*/transmitter_i/outdata_short3_2" LOC = SLICE_X3Y81;
INST "*/transmitter_i/outdata_short3_3" LOC = SLICE_X3Y81;
INST "*/transmitter_i/mux14_*" LOC = SLICE_X3Y81;
INST "*/transmitter_i/mux15_*" LOC = SLICE_X3Y81;

INST "*/transmitter_i/outdata_short4_0" LOC = SLICE_X2Y80;
INST "*/transmitter_i/outdata_short4_1" LOC = SLICE_X2Y80;
INST "*/transmitter_i/mux16_*" LOC = SLICE_X2Y80;
INST "*/transmitter_i/mux17_*" LOC = SLICE_X2Y80;
INST "*/transmitter_i/outdata_short4_2" LOC = SLICE_X3Y80;
INST "*/transmitter_i/outdata_short4_3" LOC = SLICE_X3Y80;
INST "*/transmitter_i/mux18_*" LOC = SLICE_X3Y80;
INST "*/transmitter_i/mux19_*" LOC = SLICE_X3Y80;

INST "*/transmitter_i/outdata_short5_0" LOC = SLICE_X2Y79;
INST "*/transmitter_i/outdata_short5_1" LOC = SLICE_X2Y79;
INST "*/transmitter_i/mux20_*" LOC = SLICE_X2Y79;
INST "*/transmitter_i/mux21_*" LOC = SLICE_X2Y79;
INST "*/transmitter_i/outdata_short5_2" LOC = SLICE_X3Y79;
INST "*/transmitter_i/outdata_short5_3" LOC = SLICE_X3Y79;
INST "*/transmitter_i/mux22_*" LOC = SLICE_X3Y79;
INST "*/transmitter_i/mux23_*" LOC = SLICE_X3Y79;

INST "*/transmitter_i/outdata_short6_0" LOC = SLICE_X2Y78;
INST "*/transmitter_i/outdata_short6_1" LOC = SLICE_X2Y78;
INST "*/transmitter_i/mux24_*" LOC = SLICE_X2Y78;
INST "*/transmitter_i/mux25_*" LOC = SLICE_X2Y78;
INST "*/transmitter_i/outdata_short6_2" LOC = SLICE_X3Y78;
INST "*/transmitter_i/outdata_short6_3" LOC = SLICE_X3Y78;
INST "*/transmitter_i/mux26_*" LOC = SLICE_X3Y78;
INST "*/transmitter_i/mux27_*" LOC = SLICE_X3Y78;

#####

AREA_GROUP "outdata_long" RANGE=SLICE_X2Y90:SLICE_X7Y91, SLICE_X4Y88:SLICE_X7Y89, SLICE_X2Y85:SLICE_X7Y87, SLICE_X4Y78:SLICE_X7Y84, SLICE_X2Y76:SLICE_X7Y77;
INST "*/transmitter_i/outdata_long*" AREA_GROUP = "outdata_long";
INST "*/transmitter_i/outdata_final*" AREA_GROUP = "outdata_long";
AREA_GROUP "transmitter" RANGE=SLICE_X2Y70:SLICE_X15Y99;
INST "*/transmitter_i/*" AREA_GROUP = "transmitter";

#####

AREA_GROUP "outbuf_mem_1" RANGE=SLICE_X0Y60:SLICE_X15Y79, SLICE_X0Y50:SLICE_X39Y59, SLICE_X0Y0:SLICE_X75Y49;
AREA_GROUP "outbuf_mem_1" RANGE=RAMB36_X0Y12:RAMB36_X0Y15, RAMB36_X0Y10:RAMB36_X2Y11, RAMB36_X0Y0:RAMB36_X4Y9;
INST "*/outbuf_mem_1/*" AREA_GROUP = "outbuf_mem_1";
AREA_GROUP "outbuf_mem_0" RANGE=SLICE_X0Y110:SLICE_X75Y159, SLICE_X0Y100:SLICE_X39Y109, SLICE_X0Y80:SLICE_X15Y99;
AREA_GROUP "outbuf_mem_0" RANGE=RAMB36_X0Y24:RAMB36_X4Y31, RAMB36_X0Y22:RAMB36_X5Y23, RAMB36_X0Y20:RAMB36_X2Y21, RAMB36_X0Y16:RAMB36_X0Y19;
INST "*/outbuf_mem_0/*" AREA_GROUP = "outbuf_mem_0";



#####
AREA_GROUP "proc_interface" RANGE=SLICE_X8Y100:SLICE_X47Y104, SLICE_X40Y60:SLICE_X47Y99, SLICE_X8Y60:SLICE_X15Y99, SLICE_X8Y55:SLICE_X47Y59;
INST "inst_proc_register/*" AREA_GROUP = "proc_interface";
INST "Inst_processor/proc2fpga_0/*" AREA_GROUP = "proc_interface";
AREA_GROUP "average_mem" RANGE=RAMB36_X3Y24:RAMB36_X4Y25, RAMB36_X3Y22:RAMB36_X5Y23, RAMB36_X3Y20:RAMB36_X4Y21, RAMB36_X3Y18:RAMB36_X5Y19, RAMB36_X3Y10:RAMB36_X4Y17;
INST "*/inbuf_mem_i/ram_generate*/ram*_i/*.ram*" AREA_GROUP = "average_mem";
AREA_GROUP "average_mem_read_cnt" RANGE=SLICE_X58Y87:SLICE_X59Y93;
INST "*/average_mem_i/*_read_cnt*" AREA_GROUP = "average_mem_read_cnt";
INST "*/average_mem_i/read_cnt*" AREA_GROUP = "average_mem_read_cnt";
AREA_GROUP "average_mem_frame_cnt" RANGE=SLICE_X60Y87:SLICE_X61Y93;
INST "*/average_mem_i/*_frame_cnt*" AREA_GROUP = "average_mem_frame_cnt";
INST "*/average_mem_i/frame_cnt*" AREA_GROUP = "average_mem_frame_cnt";
INST "*/average_mem_i/Result*" AREA_GROUP = "average_mem_frame_cnt";
AREA_GROUP "average_mem_average_add" RANGE=SLICE_X62Y87:SLICE_X63Y93;
INST "*/average_mem_i/Madd_dataadd*" AREA_GROUP = "average_mem_average_add";
AREA_GROUP "core" RANGE=SLICE_X40Y30:SLICE_X67Y109;
AREA_GROUP "core" RANGE=DSP48_X0Y12:DSP48_X1Y43;
AREA_GROUP "core" RANGE=RAMB36_X3Y6:RAMB36_X4Y21;
INST "*/overlap_add_inst/*" AREA_GROUP = "core";
