######################################
NET gtx_refclk_n  LOC=H15;
NET gtx_refclk_p  LOC=H14;
NET oserdes_txp(0) LOC = L34 |FAST;
NET oserdes_txn(0) LOC = K34 |FAST;
NET oserdes_txp(1) LOC = K33 |FAST;
NET oserdes_txn(1) LOC = K32 |FAST;
NET oserdes_txp(2) LOC = P32 |FAST;
NET oserdes_txn(2) LOC = N32 |FAST;
NET oserdes_txclkp LOC = T33 |FAST;
NET oserdes_txclkn LOC = R34 |FAST;
NET oserdes_txp(3) LOC = R33 |FAST;
NET oserdes_txn(3) LOC = R32 |FAST;
NET oserdes_txp(4) LOC = U33 |FAST;
NET oserdes_txn(4) LOC = T34 |FAST;
NET oserdes_txp(5) LOC = U32 |FAST;
NET oserdes_txn(5) LOC = U31 |FAST;
NET oserdes_txp(6) LOC = V32 |FAST;
NET oserdes_txn(6) LOC = V33 |FAST;
NET oserdes_txp(7) LOC = W34 |FAST;
NET oserdes_txn(7) LOC = V34 |FAST;
#INST main_inst/inbuf_inst/receiver_i/gtx_i/tile0_gtx_i/gtx_dual_i LOC=GTX_DUAL_X0Y3;
#INST main_inst/inbuf_inst/receiver_i/gtx_i/tile1_gtx_i/gtx_dual_i LOC=GTX_DUAL_X0Y5;
NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 10 ns HIGH 50%;
NET "transmitter_i/CLKOUT0" TNM_NET = transmitter_i/CLKOUT0;
TIMESPEC TS_transmitter_i_CLKOUT0 = PERIOD "transmitter_i/CLKOUT0" 350 MHz HIGH 50%;
NET "transmitter_i/CLKOUT1" TNM_NET = transmitter_i/CLKOUT1;
TIMESPEC TS_transmitter_i_CLKOUT1 = PERIOD "transmitter_i/CLKOUT1" 175 MHz HIGH 50%;
NET "transmitter_i/outdata_long*" TNM_NET = outdata_long;
NET "transmitter_i/outdata_short*" TNM_NET = outdata_short;
TIMESPEC TS_outdata = FROM "outdata_long" TO "outdata_short" TS_clk * 4 DATAPATHONLY;
